<a href="https://colab.research.google.com/github/JyothiShetty/python_workshop/blob/master/Day3_session1_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Write a Python program to find numbers between 100 and 400 (both included) which are divisable both by 5 or 7. The numbers obtained should be printed in a comma-separated sequence

In [ ]:
p=[i for i in range(100,400+1) if i%5==0 and i%7==0 ]
print(p)

[105, 140, 175, 210, 245, 280, 315, 350, 385]

In [ ]:
for i in range(100, 400+1):
   if((i%7==0) & (i%5==0)):
      print(i,end=',')

105,140,175,210,245,280,315,350,385,

#Write a Python program to find  prime numbers between 200 and 600 (both included). The numbers obtained should be printed in a comma-separated sequence

In [ ]:
p=[i for i in range(200,600+1) if not i%2==0]
print(p)

[201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599]

#Write a Python program to find All Numbers which are Odd and Palindromes Between a Range of Numbers without using Recursion. The numbers obtained should be printed in a comma-separated sequence

In [9]:
l=[]
a=int(input('enter the lower range:'))
b=int(input('enter the upper range:'))
for i in range(a,b):
  if (i%2!=0):
    temp=i;
    rev=0
    while (temp>0):
      rem=temp%10
      rev=(rev*10)+rem
      temp=temp//10
    if i==rev:
      l.append(str(i))
print(','.join(l))

enter the lower range:100
enter the upper range:500
101,111,121,131,141,151,161,171,181,191,303,313,323,333,343,353,363,373,383,393

#Write a Python Program to read a number n and print the series “5+10+…..+n = sum upto n ” . The numbers should be printed  as they are  shown in the quotes with sum of numbers upto n

In [21]:
a=[]
b=0
n=int(input("Enter the value of n"))
while(b<n):
  b=5+b
  a.append(str(b))
print('+'.join(a))

Enter the value of n40
5+10+15+20+25+30+35+40