<a href="https://colab.research.google.com/github/JyothiShetty/python_workshop/blob/master/Day3_session1_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Program for prime number

In [4]:
i=3
for x in range (2,i//2+1):
  if i%x==0:
    print("the number {} is not a prime" .format(i))
    break
else:
    print("the number {} is prime".format(i))

the number 3 is prime

#unpacking

In [5]:
a,b=2,'my-string'
print(a)
print(b)

2
my-string

#bad unpacking

In [6]:
x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

1 2 4 8 16

#Excellent unpacking

In [7]:
a,b,c,d,e=x
print(a, b, c, d, e)

1 2 4 8 16

#unpacking some elements

In [8]:
a, *y, e = x
print(a)
print(y)
print(e)

1
[2, 4, 8]
16

#Using Chaining to Write Concise Code

In [9]:
x = 4
print(x >= 2 and x <= 8)

True

#Instead, you can write this in a more compact form, like mathematicians do:

In [10]:
print(2 <= x <= 8)
print(2 <= x <= 3)

True
False

#chained assignments

In [11]:
x = y = z = 2
x, y, z

(2, 2, 2)

#Checking against None

In [12]:
# normal way
x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

#In pythonic way

In [13]:
x is None
print(x is None)
print(y is None)
print(x is not None)
print(y is not None)

False
True
True
False

#Iterating over Sequences

In [15]:
x = [1, 2, 4, 8, 16]
for i in range(len(x)):
  print(x[i])

1
2
4
8
16

#But instead we can do like this in elegant way

In [17]:
for item in x:
  print(item)

1
2
4
8
16

#to iterate in the reversed order

In [18]:
for i in range(len(x)-1, -1, -1):
  print(x[i])

16
8
4
2
1

In [19]:
for item in x[::-1]:
  print(item)

16
8
4
2
1

In [20]:
for item in reversed(x):
  print(item)

16
8
4
2
1

In [21]:
x=[1,2,4,8,16]
print(x[::-1])

[16, 8, 4, 2, 1]

#Sometimes you need both the items from a sequence and the corresponding indices:

In [22]:
for i in range(len(x)):
  print(i, x[i])

0 1
1 2
2 4
3 8
4 16

#Itâ€™s better to use enumerate to get another iterator that yields the tuples with the indices and items:

In [23]:
for i, item in enumerate(x):
  print(i, item)

0 1
1 2
2 4
3 8
4 16

#what if you want to iterate over two or more sequences? Of course, you can use the range again:

In [24]:
y = 'abcde'
for i in range(len(x)):
  print(x[i], y[i])

1 a
2 b
4 c
8 d
16 e

#In this case, Python also offers a better solution. You can apply zip and get tuples of the corresponding items:

In [25]:
for item in zip(x, y):
  print(item)

(1, 'a')
(2, 'b')
(4, 'c')
(8, 'd')
(16, 'e')

In [26]:
#You can combine it with unpacking:
for x_item, y_item in zip(x, y):
  print(x_item, y_item)

1 a
2 b
4 c
8 d
16 e

#Dictionary can be iterated in these two ways

In [28]:
z = {'a': 0, 'b': 1}
for k in z:
  print(k, z[k])

a 0
b 1

In [29]:
for k, v in z.items():
  print(k, v)

a 0
b 1

#Comparing to Zero

In [30]:
#To print only non zero values from tuple x
x = (1, 2, 0, 3, 0, 4)
for item in x:
  if item != 0:
    print(item)

1
2
3
4

In [31]:
for item in x:
  if item:
    print(item)

1
2
3
4

#Avoiding Mutable Optional Arguments

In [34]:
def func(value, seq=[]):
  seq.append(value)
  return seq
print(func(value=2))

[2]

In [35]:
print(func(value=4))
print(func(value=6))
print(func(value=8))

[2, 4]
[2, 4, 6]
[2, 4, 6, 8]

#keep away from that with some additional logic.

In [36]:
def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=6))

[6]